<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SuiBeautyAdmin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/Style/responsive.css" rel="stylesheet" />
    <link href="~/Assets/Style/style.css" rel="stylesheet" />
    <link href="~/Content/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/Style/register_style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <style>
        .navbar {
            width: 100%;
            float: left;
            background-color: #fef4ec;
            height: auto;
            background-size: 100%;
        }
    </style>

    <!-- header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <nav class="navbar fixed-top justify-content-between">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="~/AdminDashboard/Index">Trang chủ</a>
                    <a href="~/ProductAdmin/Index">Sản phẩm</a>
                    <a href="~/ProductCategoriesAdmin/Index">Danh mục sản phẩm</a>
                    <a href="~/Views/ProductAdmin/Index.cshtml">Khách hàng</a>
                    <a href="~/Views/ProductAdmin/Index.cshtml">Đơn hàng</a>
                </div>
                <span class="toggle_icon" style="padding-left:1rem" onclick="openNav()"><img style="height: 70%;width:70%" src="~/Assets/Images/toggle-icon.png"></span>
                <a class="logo" href="index.html"><img src="~/Assets/Images/logo.png"></a>
                <form class="form-inline ">
                    <div class="login_text" style="padding-right:1rem">
                        <ul>
                            <li><a href="@(Url.Action("Login", "Account"))"><img src="~/Assets/Images/user-icon.png"></a></li>
                            <li><a href="#"><img src="~/Assets/Images/bag-icon.png"></a></li>
                            <li><a href="#"><img src="~/Assets/Images/search-icon.png"></a></li>
                        </ul>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="container" style="height: 5vw"></div>
        @RenderBody()
        <hr />
    </div>
    <!-- Javascript files-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script>
        window.onload = function () {
            document.body.style.width = window.innerWidth + "px";
            document.body.style.height = window.innerHeight + "px";
        };
    </script>
    <script>
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();

            if (scrollTop > 50) {
                $('body').addClass('scrolling-navbar');
            } else {
                $('body').removeClass('scrolling-navbar');
            }
        });
    </script>
</body>
</html>
